
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-3">
        <div class="card w-100 h-100 m-3">
            <!-- Adjust the width and padding here -->
            <div class="card-body">
                <h5 class="card-title">Number of Categories</h5>
                <p class="card-text">@ViewBag.NumberOfCategories</p>
            </div>
        </div>
    </div><div class="col-md-3">
        <div class="card w-100 h-100 m-3">
            <!-- Adjust the width and padding here -->
            <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Data for Card 1</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card w-100 h-100 m-3">
            <!-- Adjust the width and padding here -->
            <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Data for Card 1</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card w-100 h-100 m-3">
            <!-- Adjust the width and padding here -->
            <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Data for Card 1</p>
            </div>
        </div>
    </div>
</div>



