
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>New Category</h1>
<br />
<form class="form-group" method="post">
    <input type="text" placeholder="Name" class="form-control" name="Name"/>
    <br />
    <input type="text" placeholder="Description" class="form-control" name="Description" />
    <br />
    <button class="btn btn-primary">Submit</button>
</form>
