@using Entity.Concrete
@model List<Category>

@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    @foreach (Category category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>@category.Description</td>
            <td>@category.Status</td>
        </tr>
    }
</table>
<br />
<a href="/Category/Add" class="btn btn-primary">Add Category</a>
